@page "/html-converter"

<PageTitle>Html Converter</PageTitle>

<h1>This service allows to convert HTML file to PDF file</h1>

<InputFile OnChange="@LoadFiles"  accept=".html" />

@if (IsConverting)
{
    <h3>"@NotificationMessage"</h3>
}

<button onclick="@ConvertFile" disabled="@IsConvertDisabled">Convert</button> 
<button OnClick="@DownloadFile" disabled="@IsDonwloadDisabled">Download</button>



@code {
    [Parameter]
    public bool IsDonwloadDisabled { get; set; } = true;

    [Parameter]
    public bool IsConvertDisabled { get; set; } = true;

    [Parameter]
    public bool IsConverting { get; set; } = false;
    public string NotificationMessage { get; set; }

    private Guid clientGuid { get; set; } = Guid.NewGuid();
    private string fileName { get; set; } = "";

    private async void LoadFiles(InputFileChangeEventArgs f)
    {
        IsConvertDisabled = true;
        fileName = $"{clientGuid}:{f.File.Name}";

        using (FileStream fs = new FileStream($"/var/tmp/{fileName}", FileMode.Create))
        {
            await f.File.OpenReadStream().CopyToAsync(fs);
        }
        IsConvertDisabled = false;
        await InvokeAsync(StateHasChanged);

    }

    private async void ConvertFile()
    {
        IsConverting = true;
        NotificationMessage = "Please, wait! Your file is converting ...";
        await InvokeAsync(StateHasChanged);
        var result = await Client.Instance.AddDocumentToQueue(fileName); 
        if(result == -1)
        {
            NotificationMessage = "Something went wrong!";
            await InvokeAsync(StateHasChanged);
        }
    }
    private void DownloadFile()
    {

    }
}